<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern> -->
      <pattern>SQL: %msg %n</pattern>
    </encoder>
  </appender>

  <logger name="scala.slick.session" level="ERROR">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.mchange.v2.c3p0" level="OFF">
    <appender-ref ref="STDOUT" />
  </logger>

</configuration>
